<h2>関連サイト</h2>
<ul>
<li><a href="https://fuk-unipa.itp.kindai.ac.jp/up/faces/up/po/Poa00601A.jsp" target="_blank">UNIVERSAL PASSPORT(福岡キャンパス)</a></li>
<p></p>
<li><a href="https://www.kindai.ac.jp/hose/department/information/" target="_blank">近畿大学産業理工学部情報学科公式サイト</a></li>
</ul>